####   Name: RISHAV KUMAR
####   Roll no. 2301560042
This was taken from: 'pandas-astype.ipynb [Link](https://github.com/pradeepsf729/pandas_101/blob/72fc5d6b72e01a50126876d229d66fd95869e81f/pandas-astype.ipynb)'

# pandas-astype

In [2]:
import pandas as pd

data = {
    'Product_ID': [101, 102, 103, 104, 105],
    'Product_Name': ['iPhone', 'MacBook Pro', 'iPad', 'Apple Watch', 'AirPods'],
    'Release_Year': ['2020', '2019', '2018', '2021', '2019'],
    'Price ($)': [999, 1299, 329, 399, 159],
    'Units_Sold_Millions': ['75', '20', '40', '25', '30']
}

df = pd.DataFrame(data)

In [3]:
df

   Product_ID Product_Name Release_Year  Price ($) Units_Sold_Millions
0         101       iPhone         2020        999                  75
1         102  MacBook Pro         2019       1299                  20
2         103         iPad         2018        329                  40
3         104  Apple Watch         2021        399                  25
4         105      AirPods         2019        159                  30

In [4]:
df.dtypes

Product_ID              int64
Product_Name           object
Release_Year           object
Price ($)               int64
Units_Sold_Millions    object
dtype: object

In [5]:
df.astype({"Release_Year":'int64'}).dtypes

Product_ID              int64
Product_Name           object
Release_Year            int64
Price ($)               int64
Units_Sold_Millions    object
dtype: object

In [6]:
df.astype({'Units_Sold_Millions':'int64'}).dtypes

Product_ID              int64
Product_Name           object
Release_Year           object
Price ($)               int64
Units_Sold_Millions     int64
dtype: object

In [7]:
df.astype({'Price ($)': 'float64'}).dtypes

Product_ID               int64
Product_Name            object
Release_Year            object
Price ($)              float64
Units_Sold_Millions     object
dtype: object

In [8]:
df.astype({'Product_ID': 'str'}).dtypes

Product_ID             object
Product_Name           object
Release_Year           object
Price ($)               int64
Units_Sold_Millions    object
dtype: object

In [9]:
df

   Product_ID Product_Name Release_Year  Price ($) Units_Sold_Millions
0         101       iPhone         2020        999                  75
1         102  MacBook Pro         2019       1299                  20
2         103         iPad         2018        329                  40
3         104  Apple Watch         2021        399                  25
4         105      AirPods         2019        159                  30

In [10]:
df.loc[:, ['Units_Sold_Millions']].astype('float64').apply(lambda x: x * 1000000)

   Units_Sold_Millions
0           75000000.0
1           20000000.0
2           40000000.0
3           25000000.0
4           30000000.0

In [11]:
df.astype('category').dtypes

Product_ID             category
Product_Name           category
Release_Year           category
Price ($)              category
Units_Sold_Millions    category
dtype: object

In [13]:
df.select_dtypes(include=['object']).map(lambda x: x.upper() if isinstance(x, str) else x).astype('category')

  Product_Name Release_Year Units_Sold_Millions
0       IPHONE         2020                  75
1  MACBOOK PRO         2019                  20
2         IPAD         2018                  40
3  APPLE WATCH         2021                  25
4      AIRPODS         2019                  30

In [14]:
df.astype({'Product_Name':'category'}).dtypes

Product_ID                int64
Product_Name           category
Release_Year             object
Price ($)                 int64
Units_Sold_Millions      object
dtype: object

In [15]:
df.astype({'Product_Name':'category'}).loc[:, 'Product_Name']

0         iPhone
1    MacBook Pro
2           iPad
3    Apple Watch
4        AirPods
Name: Product_Name, dtype: category
Categories (5, object): ['AirPods', 'Apple Watch', 'MacBook Pro', 'iPad', 'iPhone']

In [25]:
name_map = {'iPhone':'IP', 'MacBook Pro':'MBP', 'iPad':'IPD', 'Apple Watch':'AW', 'AirPods':'AP'}
name_map

{'iPhone': 'IP',
 'MacBook Pro': 'MBP',
 'iPad': 'IPD',
 'Apple Watch': 'AW',
 'AirPods': 'AP'}

In [24]:
df['Product_Name'] = df['Product_Name'].astype('category')

In [26]:
df.dtypes

Product_ID                int64
Product_Name           category
Release_Year             object
Price ($)                 int64
Units_Sold_Millions      object
dtype: object

In [27]:
df['Product_Name']

0         iPhone
1    MacBook Pro
2           iPad
3    Apple Watch
4        AirPods
Name: Product_Name, dtype: category
Categories (5, object): ['AirPods', 'Apple Watch', 'MacBook Pro', 'iPad', 'iPhone']

In [28]:
df['Product_Name']= df['Product_Name'].cat.rename_categories(name_map)

In [29]:
df['Product_Name']

0     IP
1    MBP
2    IPD
3     AW
4     AP
Name: Product_Name, dtype: category
Categories (5, object): ['AP', 'AW', 'MBP', 'IPD', 'IP']

In [30]:
df.astype({'Product_Name': 'category'}).loc[:, ['Product_Name']].dtypes

Product_Name    category
dtype: object

In [31]:
df.astype({'Release_Year':'int64', 'Units_Sold_Millions':'int64'}).dtypes

Product_ID                int64
Product_Name           category
Release_Year              int64
Price ($)                 int64
Units_Sold_Millions       int64
dtype: object