#####   Name: RISHAV KUMAR
#####   Roll no. 2301560042
This was taken from: 'pandas-size.ipynb [Link](https://github.com/pradeepsf729/pandas_101/blob/72fc5d6b72e01a50126876d229d66fd95869e81f/pandas-size.ipynb)'

In [47]:
import pandas as pd
from datetime import datetime
import numpy as np

In [48]:
data = {
    'Order_ID': [1, 2, 3, 4, 5],
    'Customer_ID': [101, 102, 103, 104, 105],
    'Restaurant_ID': [201, 202, 203, 204, 205],
    'Order_Date': [datetime(2023, 8, 1), datetime(2023, 8, 2), datetime(2023, 8, 3), datetime(2023, 8, 4), datetime(2023, 8, 5)],
    'Order_Time': ['12:30:00', '18:45:00', '19:20:00', '13:15:00', '09:30:00'],
    'Food_Item': ['Burger', 'Sushi', 'Pasta', 'Pizza', 'Salad'],
    'Quantity': [2, 1, 3, 1, 1],
    'Price': [12.99, 18.50, 10.99, 14.99, 7.99],
    'Delivery_Time(min)': [30, 45, 40, 35, 25],
    'Rating': [4.5, 4.0, 5.0, 3.5, 4.0]
}

In [49]:
df = pd.DataFrame(data)
df

,Order_ID,Customer_ID,Restaurant_ID,Order_Date,Order_Time,Food_Item,Quantity,Price,Delivery_Time(min),Rating
0,1,101,201,2023-08-01,12:30:00,Burger,2,12.99,30,4.5
1,2,102,202,2023-08-02,18:45:00,Sushi,1,18.50,45,4.0
2,3,103,203,2023-08-03,19:20:00,Pasta,3,10.99,40,5.0
3,4,104,204,2023-08-04,13:15:00,Pizza,1,14.99,35,3.5
4,5,105,205,2023-08-05,09:30:00,Salad,1,7.99,25,4.0

What will the size attribute return when applied to the df DataFrame?

In [50]:
size= len(df)* len(df.loc[0])
size, df.size

(50, 50)

How would you verify if the size attribute counts the number of rows, columns, or individual elements in the DataFrame?

In [51]:
x=(len(df) * len(df.loc[0]) == df.size)
x

True

If you apply a filter to df to only include rows where Rating is greater than or equal to 4.5, what will the size attribute return for the filtered DataFrame?

In [52]:
 l=df[df['Rating'] > 4.5].size
 l

10

Compare the output of df.size and df.shape. What mathematical operation could you apply to the values in shape to derive the value of size?

In [53]:
com=(df.size == df.shape[0]* df.shape[1])
com

True

How would the size attribute change if you dropped a row from df? Can you confirm this by coding it?

In [54]:
print("Before :",df.size)
df = df.drop(4)
print("After :",df.size)

Before : 50
After : 40

Create a Series object by selecting the Price column from df. What does the size attribute show for this Series object?

In [55]:
si= df['Price'].size
si

4

Does the size attribute include NaN values if they were present in the DataFrame?

In [56]:
print("without nan : ", df.size)
df.loc[4, 'Food_Item'] = np.nan
print("with nan : ", df.size)

without nan :  40
with nan :  50

How would the output of uber_eats_df.size change if you added a new column to the DataFrame? Can you confirm your answer by coding it?

In [59]:
df.loc[:, 'Location'] = ['NewYork', "California", "Texas", "Dallas", "Colorado"]
df.size

55