# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [4]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [5]:
cars1= pd.read_csv(r'C:\Users\risha\Documents\KRMU\AIML_assigment\datasets\cars1.csv')
cars2= pd.read_csv(r'C:\Users\risha\Documents\KRMU\AIML_assigment\datasets\cars2.csv')

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [6]:
cars1 = cars1.loc[:, "mpg":"car"]
cars1.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino

### Step 5. What is the number of observations in each dataset?

In [7]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [10]:
cars= pd.concat([cars1, cars2])
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,18.0,8,307,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl
196,44.0,4,97,52,2130,24.6,82,2,vw pickup
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage
198,28.0,4,120,79,2625,18.6,82,1,ford ranger
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [11]:
nr_owners = np.random.randint(15000, high=73001, size=398, dtype='l')
nr_owners

array([71748, 54278, 71588, 26507, 46368, 72112, 64533, 53157, 17476,
       21844, 56778, 39669, 21409, 16300, 31834, 68194, 24212, 25145,
       39630, 44823, 72297, 37215, 56665, 53559, 33011, 44878, 65506,
       18142, 41863, 42926, 46643, 41235, 61143, 39589, 57047, 16746,
       35431, 36332, 19504, 69459, 45258, 25540, 22679, 32831, 46872,
       32808, 23484, 64441, 48020, 54451, 23358, 57388, 48816, 65689,
       27186, 65463, 26294, 64077, 35261, 64492, 45472, 26261, 57521,
       20903, 58617, 16972, 17992, 62756, 42838, 32614, 61627, 53063,
       31936, 18485, 67566, 16282, 44754, 18196, 42462, 41648, 43770,
       24683, 23979, 26051, 40227, 36012, 18948, 34514, 28964, 61958,
       21105, 48539, 37266, 59563, 25403, 15668, 58453, 72321, 69976,
       27426, 15617, 48520, 45522, 31100, 37859, 33687, 44102, 42356,
       72878, 38916, 21046, 25285, 34584, 72926, 62066, 20400, 24813,
       40371, 48504, 60853, 28771, 21903, 25052, 63494, 51273, 60562,
       61340, 38147, 69179, 28688, 38295, 50028, 37962, 67466, 71743,
       58403, 36472, 33238, 24299, 34431, 53777, 39220, 41513, 35237,
       51336, 28151, 60018, 18099, 40688, 30554, 36696, 62267, 59148,
       19833, 39574, 19821, 20998, 19336, 15465, 67409, 31723, 18051,
       71440, 51149, 50388, 54352, 48589, 61503, 41920, 22575, 69628,
       37767, 54637, 45339, 48700, 62313, 16224, 63596, 43631, 47578,
       36398, 47912, 61738, 19539, 43337, 65171, 18601, 17089, 60518,
       18727, 64426, 47223, 41434, 15809, 60951, 53062, 17903, 57452,
       63777, 25936, 50387, 63164, 53109, 24925, 19692, 22743, 53533,
       29866, 69196, 62633, 52558, 49917, 19221, 31569, 72456, 39464,
       31419, 70879, 53105, 66649, 35362, 39386, 64737, 26287, 54485,
       69493, 56955, 21544, 20375, 38377, 50371, 38954, 48494, 37092,
       16584, 43984, 42714, 69733, 56953, 63250, 17653, 27543, 72433,
       61484, 52782, 52496, 49067, 20018, 19462, 58293, 54918, 21697,
       17339, 67180, 22029, 67087, 68649, 55495, 71532, 25897, 51739,
       63889, 21290, 41920, 16601, 65193, 17982, 68142, 49958, 68973,
       29660, 40697, 33123, 69456, 23472, 46814, 59474, 51429, 71580,
       60090, 29806, 44329, 30679, 18336, 28542, 22043, 31185, 63991,
       15210, 31961, 67739, 18426, 37809, 32583, 26543, 38509, 62866,
       17765, 24260, 51113, 44387, 52251, 51048, 18280, 66338, 17029,
       37046, 63883, 33869, 61462, 20369, 64588, 24606, 28219, 31964,
       70976, 25735, 40508, 15412, 47697, 35984, 49551, 60641, 69317,
       49002, 40290, 55734, 37707, 18848, 45027, 34253, 40546, 60413,
       40308, 48438, 25900, 71894, 21318, 66260, 44762, 49081, 64206,
       37268, 67646, 64669, 35373, 26647, 15306, 45109, 68200, 66244,
       31473, 65064, 16925, 33213, 18913, 52773, 48534, 36006, 56057,
       56339, 40007, 21748, 40577, 21815, 57788, 41820, 17390, 25572,
       58145, 63052, 59753, 26106, 31161, 63631, 67784, 59284, 46774,
       66925, 52356, 20921, 54684, 68049, 31011, 48834, 17273, 41733,
       27421, 69176, 61677, 48366, 60355, 43243, 42458, 56518, 49452,
       70631, 66766])

### Step 8. Add the column owners to cars

In [12]:
cars['owners'] = nr_owners
cars.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car,owners
195,27.0,4,140,86,2790,15.6,82,1,ford mustang gl,42458
196,44.0,4,97,52,2130,24.6,82,2,vw pickup,56518
197,32.0,4,135,84,2295,11.6,82,1,dodge rampage,49452
198,28.0,4,120,79,2625,18.6,82,1,ford ranger,70631
199,31.0,4,119,82,2720,19.4,82,1,chevy s-10,66766