In [90]:
from sklearn import preprocessing
import pandas as pd
from datetime import datetime
from sklearn.impute import SimpleImputer

In [91]:
hvac = pd.read_csv(r"C:\Users\risha\Documents\KRMU\AIML_assigment\datasets\HVAC_with_nulls.csv")

### Checking Data Quality

In [92]:
hvac.dtypes

Date           object
Time           object
TargetTemp    float64
ActualTemp      int64
System          int64
SystemAge     float64
BuildingID      int64
10            float64
dtype: object

In [93]:
hvac.shape

(8000, 8)

In [94]:
hvac= hvac.drop(['10'], axis=1)

In [95]:
hvac.head()

     Date     Time  TargetTemp  ActualTemp  System  SystemAge  BuildingID
0  6/1/13  0:00:01        66.0          58      13       20.0           4
1  6/2/13  1:00:01         NaN          68       3       20.0          17
2  6/3/13  2:00:01        70.0          73      17       20.0          18
3  6/4/13  3:00:01        67.0          63       2        NaN          15
4  6/5/13  4:00:01        68.0          74      16        9.0           3

### Impute missing values with mean

In [96]:

# imp = SimpleImputer(missing_values='NaN', strategy='mean')
hvac.TargetTemp= hvac.TargetTemp.fillna(hvac.TargetTemp.mean())

In [97]:
hvac_numeric = hvac[['TargetTemp', 'SystemAge']]

In [98]:
hvac.head()

     Date     Time  TargetTemp  ActualTemp  System  SystemAge  BuildingID
0  6/1/13  0:00:01   66.000000          58      13       20.0           4
1  6/2/13  1:00:01   67.507735          68       3       20.0          17
2  6/3/13  2:00:01   70.000000          73      17       20.0          18
3  6/4/13  3:00:01   67.000000          63       2        NaN          15
4  6/5/13  4:00:01   68.000000          74      16        9.0           3

### Scale temperature values

In [99]:
hvac['ScaledTemp'] = preprocessing.scale(hvac['ActualTemp'])

In [100]:
hvac['ScaledTemp'].head()

0   -1.293272
1    0.048732
2    0.719733
3   -0.622270
4    0.853934
Name: ScaledTemp, dtype: float64

### Scale using a min and max scaler

In [101]:
min_max_scaler = preprocessing.MinMaxScaler()

In [102]:
temp_minmax = min_max_scaler.fit_transform(hvac[['ActualTemp']])

In [103]:
temp_minmax

array([[0.12],
       [0.52],
       [0.72],
       ...,
       [0.56],
       [0.32],
       [0.44]])

### Exercise: add the temp_minmax back to the dataframe as a new column

In [104]:
hvac['MinMaxScaledTemp'] = temp_minmax[:,0]
hvac['MinMaxScaledTemp'].head()

0    0.12
1    0.52
2    0.72
3    0.32
4    0.76
Name: MinMaxScaledTemp, dtype: float64